*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor {
    background-color: white;
}

.encabezado {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    margin-bottom: 3%;
}


.navbar li{
    list-style: none;
    margin: 15px;
    background-color: white;
    padding: 10px;  
}

.cuerpo{
    display: flex;
    background-color: wheat;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

a{
    color: black;
}

.contPrincipal{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.derecha{
    display: flex;
    flex-direction: column;
    background-color: brown;
    padding: 10px;
    text-align: center;
}

.list{
    background-color: azure;
    list-style: none;
}

.ePayDesign{
    background-color:rgb(216, 216, 168);
}

.footer{
    padding-top: 7%;
}